body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 20px;
}
.left, .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section {
    padding: 10px;
    border-radius: 5px;
    background-color: #e0e0e0;
    flex-grow: 1;
}
.section h2 {
    margin: 0 0 10px 0;
}
.section span {
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.section span.gray { background-color: gray; }
.section span.yellow { background-color: yellow; }
.section span.green { background-color: green; color: white; }
.section span.red { background-color: red; color: white; }
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:disabled {
    background-color: gray;
}
